.about{
    background-image: url('../../assets/images/about-bg.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    height: 100vh;
    position: relative;
    
}
.about h3{
    position: absolute;
    font-weight: bolder;
    left: 15%;
    top:15%;
}
.about-content{
    width:40%;
    position: absolute;
    padding-top: 15rem;
    left: 10%;
    font-size: larger;
    font-weight: bold;
    
}



/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1000px) {  }
