.doking-for {
    font-size: larger;
    font-weight: bolder;
    position: relative;
    width: 100%;
}

.carousel-control-prev-icon {
    color: black;
    background-color: black;
}

.carousel-control-next-icon {
    color: black;
    background-color: black;
}

.Carousel.Item {
    position: relative;
}
.carousel-item-header{
    position:absolute;
    top:20%
}
.third-slider{
    position:absolute;
    top:20%
}
.carousel-caption {
    position: absolute;
    right: 0;
    top: 60%;
    left: 3rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #000000;
    text-align: start;
}

.section1 {
    width: 40%;
}

.section2 {
    position: absolute;
    right: 20%;
    top: -60%;
}

.section3 {
    position: absolute;
    right: 40%;
    bottom: 15%;
    right: 30%;
}

@media (max-width: 1399.98px) {
    .carousel-item-header {
        position: absolute;
        top: 6rem;
    }

    .third-slider {
        position: absolute;
        top: 20%;
        bottom: 80%;
    }
    .section2{
        width: 40%;
    }
    .section2 {
        position: absolute;
        right: 20%;
        top: -67%;
    }

    .section3 {
        position: absolute;
        right: 40%;
        bottom: 10%;
        right: 30%;
    }
}

@media (max-width: 1000px) {
    .third-slider {
        position: absolute;
        top: 20%;
        bottom: 80%;
    }
    .section2 {
        font-size: 20px;
        font-weight: 600;
        right: 5%;
    }
    .section3 {
        font-size: 20px;
        font-weight: 600;
    }
}

@media (max-width: 767.98px) {
    .third-slider {
        position: absolute;
        top: 4rem;
    }

    .first-slider {
        width: 40%;
        font-size: 16px;
        font-weight: 600;
    }

    .second-slider {
        width: 40%;
        font-size: 16px;
        font-weight: 600;
    }

    .section1{
        font-size: 16px;
        font-weight: 600;        
    }
    .section2 {
        position: absolute;
        right: 20%;
        top: -70%;
        font-size: 16px;
        font-weight: 600;
    }

    .section3 {
        position: absolute;
        right: 40%;
        bottom: 1%;
        right: 30%;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 450px) {}