.header{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 75vh;
    overflow: hidden;
    position: relative;
    
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url(../images/Header-bg.jpg);
    
    border-radius: 0 0 50% 50%; */
}
.header::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url(../images/Header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}
.header::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #68A4C4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
}

.carousel {
    position: relative;
    width: 100%;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
}
.carousel-container h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    padding: 1rem;
}

.carousel-container p{
    width: 60%;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}
.btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
    background-color: transparent;
}
.portfolio{
    margin: 3rem 0;
    transition: 0.5s;
animation-delay: 0.8s;
}
.portfolio h2{
    font-weight: bolder;
}
.section{
    margin-bottom: 3rem;
    box-shadow: 1px 1px 9px 0px rgb(202, 202, 202);
    border-radius: 10px; 
}
.portfolio img{
    width: 100%;
    height: 100%;
    transition: transform .8s;
    overflow: hidden;
}
.section{
    height: 400px;
    animation-duration: 2s;
    position: relative;
}
.section-photo {
    overflow: hidden;
    height: 80%;
    
}
.section-photo img{
    height: 100%;

}
.section-photo img:hover{
    transform: scale(1.2) rotate(5deg);
}
.portfolio p{
    font-size: 1rem;
    font-weight: bold;
}
.section-content{
    padding: .5rem;
    text-align: center;
}
.rates{
    background-image: url(../images/Hader-bg1.jpg);
    background-size: cover;
    background-position: center center; 
    margin-top: 1rem ;
    color: white;
    background-color: rgb(158, 188, 192);
    position: relative;
    background-attachment: fixed;
    margin-bottom: 3rem;
}
.rate{
    text-align: center;
    position: relative;
    z-index: 99;
    padding: 7rem 0rem;
}
.rate h2{
    font-size: 40px;
    font-weight: 900;
}
.rate p{
    font-size: 20px;
    font-weight: 700;
}