.nav-link{
    color: #fff;
    font-size: larger;
    font-weight:bold;
}
.navbar img{
    height: 3rem;
    width: 5rem;
}
.cursor-pointer{
    cursor: pointer;
}
.logo{
    color: #fff;
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}