@import './assets/style/navbar.css';
@import './assets/style/home.css';
@import './assets/style/doking.css';
@import './assets/style/about.css';


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
*{box-sizing: border-box;}
body{
    font-family: 'Montserrat Alternates' ,sans-serif;
    color: black;

}
a,a:hover{

    text-decoration:none;
    
}
.form-control{
    background-color:#94c7d6;

}